body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
}

#wrapper.sidebar-toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
}

#wrapper.sidebar-toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.sidebar-toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width: 992px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.sidebar-toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.sidebar-toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.sidebar-toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
