<ul class="nav nav-pills flex-column">
{% for todoList in todoLists %}
    <li class="nav-item">
        {% set itemCountBadge %}
            <span class="badge badge-pill bg-info text-light float-right m-1">
                {{ todoList.incomplete_item_count }}
            </span>
        {% endset %}
        {{
            helper_Html_link(todoList.title|e ~ itemCountBadge, {
                '_name': todoList.url
            }, {
                'escape': false,
                'class': [
                    'nav-link',
                    todoList.id == activeListId ? 'active'
                ]
            })
        }}
    </li>
{% endfor %}
</ul>
